- name: Copy SSL restore script
  ansible.builtin.copy:
    src: restore_ssl.sh
    dest: /tmp/restore_ssl.sh
    mode: '0700'
    owner: root
    group: root

- name: Execute SSL restore safely
  ansible.builtin.shell:
    cmd: |
      /tmp/restore_ssl.sh '{{ GIT_TOKEN }}' '{{ ROOT_PASSWORD }}'
  register: backup_result
  no_log: true
  changed_when: backup_result.rc == 0

- name: Display backup result
  ansible.builtin.debug:
    msg: "{{ backup_result.stdout }}"
  when: backup_result.stdout != ""

- name: Backup /etc/letsencrypt
  ansible.builtin.shell: >
    tar -czf - /etc/letsencrypt | 
    gpg --batch --yes --passphrase "{{ ROOT_PASSWORD }}" 
    --symmetric --cipher-algo AES256 --output /tmp/ssl-backup.tar.gz.gpg
  tags: 
      - never
      - backup